@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

html.dark-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: #0b1c30;
}

html.dark-theme img,
html.dark-theme video,
html.dark-theme .revert-dark {
  filter: invert(1) hue-rotate(180deg);
}
